<nav class="navbar navbar-expand-lg navbar-margin-bottom">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Mieszkania</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Domy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Grunty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">QuickRate</a>
                </li>
                {{#if username }}
                <li class="nav-item">
                    <div class="user-logo nav-item">
                        <a style="color: #ffffff; text-decoration: none; text-align: center;"
                           href="http://{{domain}}:{{port}}/users/{{id}}">
                            {{usernameLetter username }}
                        </a>
                    </div>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>