<h4 class="h4-break">Zabudowa</h4>
<p><strong>Typ domu:</strong> {{ house_data.houseType }}</p>
{{#if house_data.buildingTypeLemma}}
    <div style="margin-bottom: 10px;"></div>
    <p style="font-style: italic;">Fragmenty: {{ house_data.buildingTypeLemma }}</p>
{{/if}}


<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="house_type_1" name="houseType" value="1" {{#if (equals house_ans_data.technologyAns 1)}}checked{{/if}} required>
    <label class="form-check-label" for="house_type_1">Bliźniacza</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="house_type_2" name="houseType" value="2" {{#if (equals house_ans_data.technologyAns 2)}}checked{{/if}}>
    <label class="form-check-label" for="house_type_2">Szeregowa</label>
</div>
        <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="house_type_3" name="houseType" value="3" {{#if (equals house_ans_data.technologyAns 3)}}checked{{/if}}>
    <label class="form-check-label" for="house_type_3">Wolnostojąca</label>
</div>


    {{#if (houses_gpt_data.houseTypeGPT)}}
        <p class="p-break">
            <a style="text-decoration: none;" role="button">
                <span class="gpt ai-technology-rate" onclick="replaceOneWithAIAnswer('rent')">Ocena GPT: {{houses_gpt_data.houseTypeGPT}}</span>
            </a>
            <br />
            <span class="gpt ai-technology-summary">Podsumowanie modelu GPT: {{houses_gpt_data.houseTypeSummary}}</span>
        </p>
    {{/if}}
</div>

<hr class="mt-0 mb-4">
