{{!-- navigation --}}
<div id="navigation" class="d-flex justify-content-center align-items-center">
    <button type="button" onclick="goToPreviousOffer({{house_data.flatNumber}})"
            class="btn btn-outline-gold btn-break"><
    </button>
    <button type="button" onclick="goToNextOffer({{house_data.houseNumber}}, {{lastNumber}})" class="btn btn-outline-gold btn-break">
        >
    </button>
</div>
{{!-- end navigation --}}