<div class="d-flex justify-content-center align-items-center" id="navigation">
    <button type="button" onclick="goToPreviousOffer({{plot_data.plotNumber}})" class="btn btn-outline-gold btn-break"><</button>
    <button type="button" onclick="goToNextOffer({{plot_data.plotNumber}})" class="btn btn-outline-gold btn-break">></button>
    <button onclick="{{postFunction}}" class="btn btn-darkblue btn-space">Zapisz i nast.</button>
</div>
