<h4 class="h4-break">Przeznaczenie gruntu</h4>
<p><strong>Przeznaczenie działki</strong>: {{plot_data.plotPurpose}}</p>


<p>Budownictwo jednorodzinne:</p>

<div class="question">

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="purposeOfThePlotJr_yes" name="plotPurposeJr" value="1"

            {{#if (equals plot_ans_data.plotPurposeJrAns 1)}}checked{{/if}} required>   

        <label class="form-check-label" for="purposeOfThePlotJr_yes">Tak</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="purposeOfThePlotJr_no" name="plotPurposeJr" value="0"

            {{#if (equals plot_ans_data.plotPurposeJrAns 0)}}checked{{/if}} >

        <label class="form-check-label" for="purposeOfThePlotJr_no">Nie</label>
    </div>
</div>
<br>


<p>Budownictwo jedno-wielorodzinne:</p>
<div class="question">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="purposeOfThePlotJwr_yes" name="plotPurposeJwr"

            {{#if (equals plot_ans_data.plotPurposeJwrAns 1)}}checked{{/if}} required>   

        <label class="form-check-label" for="purposeOfThePlotJwr_yes">Tak</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="purposeOfThePlotJwr_no" name="plotPurposeJwr"

            value="0" {{#if (equals plot_ans_data.plotPurposeJwrAns 0)}}checked{{/if}}>

        <label class="form-check-label" for="purposeOfThePlotJwr_no">Nie</label>
    </div>
</div>
<br>

<p>Budownictwo wielorodzinne:</p>
<div class="question">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="purposeOfThePlotWr_yes" name="plotPurposeWr" value="1"

            {{#if (equals plot_ans_data.plotPurposeWrAns 1)}}checked{{/if}} required>   

        <label class="form-check-label" for="purposeOfThePlotWr_yes">Tak</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="purposeOfThePlotWr_no" name="plotPurposeWr" value="0"

            {{#if (equals plot_ans_data.plotPurposeWrAns 0)}}checked{{/if}} >

        <label class="form-check-label" for="purposeOfThePlotWr_no">Nie</label>
    </div>
</div>
<br>

<p>Funkcja mieszkaniowa i towarzyszące:</p>
<div class="question">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="purposeOfThePlotFmt_yes" name="plotPurposeFmt" value="1" 

            {{#if (equals plot_ans_data.plotPurposeFmtAns 1)}}checked{{/if}} required>   

        <label class="form-check-label" for="purposeOfThePlotFmt_yes">Tak</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="purposeOfThePlotFmt_no" name="plotPurposeFmt"
            value="0" 

            {{#if (equals plot_ans_data.plotPurposeFmtAns 0)}}checked{{/if}}>

        <label class="form-check-label" for="purposeOfThePlotFmt_no">Nie</label>
    </div>
</div>
<br>
{{#if (plots_gpt_data.plotPurposeGPT)}}
    <p class="p-break">
        <a style="text-decoration: none;" role="button">
            <span class="gpt ai-technology-rate" onclick="replaceOneWithAIAnswer('rent')">Ocena GPT: {{plots_gpt_data.plotPurposeGPT}}</span>
        </a>
        <br />
        <span class="gpt ai-technology-summary">Podsumowanie modelu GPT: {{plots_gpt_data.plotPurposeSummary}}</span>
    </p>
{{/if}}
<hr class="mt-0 mb-4">