<h4 class="h4-break">Kanalizacja</h4>
<p><strong>Kanalizacja:</strong> {{ plot_data.sewers }}</p>

{{#if plot_data.sewersLemma}}
    <div style="margin-bottom: 10px;"></div>
    <p style="font-style: italic;">Fragmenty: {{ plot_data.sewersLemma }}</p>
{{/if}}


<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="sewers_yes" name="sewers" value="1" 
        
        {{#if (equals plot_ans_data.sewersAns 1)}}checked{{/if}} required>
    
    <label class="form-check-label" for="sewers_yes">Tak</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="sewers_no" name="sewers" value="0" 
        {{#if (equals plot_ans_data.sewersAns 0)}}checked{{/if}}>

    <label class="form-check-label" for="sewers_no">Nie</label>
</div>

{{#if (plots_gpt_data.sewersGPT)}}
    <p class="p-break">
        <a style="text-decoration: none;" role="button">
            <span class="gpt ai-technology-rate" onclick="replaceOneWithAIAnswer('rent')">Ocena GPT: {{plots_gpt_data.sewersGPT}}</span>
        </a>
        <br />
        <span class="gpt ai-technology-summary">Podsumowanie modelu GPT: {{plots_gpt_data.sewersSummary}}</span>
    </p>
{{/if}}
<hr class="mt-0 mb-4">