{{!-- navigation --}}
<div id="navigation" class="d-flex justify-content-center align-items-center">
    <button type="button" onclick="goToPreviousOffer({{plot_data.plotNumber}})"
            class="btn btn-outline-gold btn-break">
            <
    </button>
    <button type="button" onclick="goToNextOffer({{plot_data.plotNumber}}, {{lastNumber}})" class="btn btn-outline-gold btn-break">
        >
    </button>
</div>
{{!-- end navigation --}}