{{> page/navbar }}

{{> flats/flat_header}}

{{> flats/flat_upper_nav}}

<span><p><strong>Status w bazie: </strong></p></span>
<span>{{flat_data.offerType}}</span>
<hr class="mt-0 mb-4">


    <h2>Dane techniczne</h2>
    {{>gallery}}
    {{> flats/flat_technology}}
    {{> flats/flat_modernization}}
    {{> flats/flat_balcony}}
    {{> flats/flat_garden}}
    {{> flats/flat_kitchen}}
    {{> flats/flat_quality}}
    {{> flats/flat_delete}}

{{> flats/flat_send_button postFunction="postAnswerWithoutValidation()"}}


<script src="/assets/js/fill-modernization-radio-button.js"></script>
<script src="/assets/js/single-record/take-gpt-answers.js"></script>
<script src="/assets/js/single-record/delete-checkbox.js"></script>
<script src="/assets/js/single-record/navigation.js"></script>
