{{#if images}}

    <div class="gallery d-flex justify-content-center align-items-center flex-wrap">
                {{#each images}}
                    <a id="image-break" data-fslightbox href="/images/offers/{{../offerIdExpected}}/{{this}}">
                        <img src="/images/offers/{{../offerIdExpected}}/{{this}}" width="60px" height="60px" alt="Image">
                    </a>
                {{/each}}
        
    </div>
    <br/>
    
{{/if}}