<h4 class="h4-break">Prawo</h4>
{{#if flat_data.legalStatus}}
    <p><strong>Stan prawny:</strong> {{ flat_data.legalStatus }}</p>
{{/if}}

{{#if flat_data.legalStatusLemma}}
    <p>Fragmenty: {{ flat_data.legalStatusLemma }}</p>
{{/if}}


<div class="question">
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="legal_status_1" name="legalStatus" value="1" {{#if (equals flat_ans_data.legalStatusAns 1)}}checked{{/if}} required>
    <label class="form-check-label" for="legal_status_1">Własnościowe</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="legal_status_2" name="legalStatus" value="2" {{#if (equals flat_ans_data.legalStatusAns 2)}}checked{{/if}}>
    <label class="form-check-label" for="legal_status_2">Spółdzielcze</label>
</div>
    {{#if (convertToStr flats_gpt_data.legalStatusGPT)}}
        <p class="p-break">
            <span class="gpt ai-legalStatus-rate">Ocena GPT: {{flats_gpt_data.legalStatusGPT}}</span>
            <br />
            <span class="gpt ai-legalStatus-summary">Podsumowanie modelu GPT: {{flats_gpt_data.legalSummary}}</span>
        </p>
    {{/if}}
</div>
<hr class="mt-0 mb-4">
