<h4 class="h4-break">Uwagi</h4>
<div class="question">
<div class="input-group mb-3">
    <input type="text" name="comments" class="form-control" placeholder="Wpisz dodatkowy komentarz (opcjonalne)" {{#if flat_ans_data.commentsAns}}value="{{flat_ans_data.commentsAns}}"{{/if}}>
</div>
</div>
<hr class="mt-0 mb-4">
