<div class="form-check">
    <input class="form-check-input" type="checkbox" id="delete" name="delete" value="checked" onclick="changeRadioButtonsRequired(radioButtonNamesFlats)" {{#if (equals flat_ans_data.deleteAns "tak")}}checked{{/if}}>
    <label class="form-check-label" for="delete">Rekord do usunięcia</label>
</div>
