{{> page/navbar }}

{{> flats/flat_header}}

{{> flats/flat_upper_nav}}

{{#if (equals flats_gpt_data.status true)}}
<div id="navigation" class="d-flex justify-content-center align-items-center">
    <button class="btn btn-gold" onclick="replaceAllWithAIAnswers()">Zastąp ocenami AI</button>
</div>
<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="alwaysReplaceWithAIAnswers()">
    <label class="form-check-label" for="flexSwitchCheckDefault">Zawsze zaznaczaj oceny AI</label>
</div>
{{/if}}


<p>
    <strong>Status w bazie:</strong>
    {{#if (equals flat_ans_data.rateStatus 'yes')}}
        {{convertRateStatusToEmoji flat_ans_data.rateStatus}}
            Oceniono przez użytkownika 👤 <span style="color:#152e52;"> {{flat_ans_data.user}}</span>
    {{else}}
        {{convertRateStatusToEmoji flat_ans_data.rateStatus}}
        Wymaga oceny
    {{/if}}

</p>
<hr class="mt-0 mb-4">

<h2 class="h2-break">Opis oferty</h2>
{{> flats/flat_description}}

    <h2 class="h2-break">Dane techniczne</h2>
    {{> flats/flat_technology}}
    {{> flats/flat_law}}
    {{> flats/flat_balcony}}
    {{> flats/flat_elevator}}
    {{> flats/flat_basement}}
    {{> flats/flat_garage}}
    {{> flats/flat_garden}}
    {{> flats/flat_monitoring}}
    {{> flats/flat_outbuilding}}
    {{> flats/flat_rent}}
    {{> gallery}}
    {{> flats/flat_modernization}}
    {{> flats/flat_kitchen}}
    {{> flats/flat_quality}}
    {{> flats/flat_comments}}
    {{> flats/flat_delete}}

{{> flats/flat_send_button postFunction="postAnswer()"}}

<script src="/assets/js/fill-modernization-radio-button.js"></script>
<script src="/assets/js/single-record/take-gpt-answers.js"></script>
<script src="/assets/js/single-record/delete-checkbox.js"></script>
<script src="/assets/js/single-record/navigation.js"></script>

