<h4 class="h4-break">Kuchnia</h4>
<p><strong>Typ kuchni</strong>: {{ flat_data.kitchenType}}</p>
<div class="question">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="kitchen_1" name="kitchen" value="1" {{#if (equals flat_ans_data.kitchenAns 1)}}checked{{/if}}>
        <label class="form-check-label" for="kitchen_1">Ciemna</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="kitchen_2" name="kitchen" value="2" {{#if (equals flat_ans_data.kitchenAns 2)}}checked{{/if}}>
        <label class="form-check-label" for="kitchen_2">Widna</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="kitchen_3" name="kitchen" value="3" {{#if (equals flat_ans_data.kitchenAns 3)}}checked{{/if}}>
        <label class="form-check-label" for="kitchen_3">Aneks</label>
    </div>
</div>
<hr class="mt-0 mb-4">
